# MTK connectivity .rc configure

on post-fs-data

    #/dev/ttyMT2 for Connectivity BT/FM/GPS usage
    chmod 0660 /dev/ttyMT2
    chown system system /dev/ttyMT2

    #/dev/ttyMT1 for GPS 3337 usage
    chmod 0660 /dev/ttyMT1
    chown system system /dev/ttyMT1

    # GPS
    mkdir /data/vendor/gps 0770 gps system

    # GPS EMI
    chmod 666 /dev/gps_emi

    # WiFi
    mkdir /data/vendor/wifi 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa/sockets 0770 wifi wifi

    # BT relayer mode used VCOM
    chown bluetooth bluetooth /dev/ttyGS2
    chmod 0660 /dev/ttyGS2

service mnld /vendor/bin/mnld
    class main
    user gps
    group gps inet misc sdcard_rw sdcard_r media_rw system radio wakelock
    socket mnld stream 660 gps system

# Wlan
service wpa_supplicant /vendor/bin/hw/wpa_supplicant \
    -O/data/vendor/wifi/wpa/sockets -dd \
    -g@android:wpa_wlan0
    #   we will start as root and wpa_supplicant will switch to user wifi
    #   after setting up the capabilities required for WEXT
    #   user wifi
    #   group wifi inet keystore
    interface android.hardware.wifi.supplicant@1.0::ISupplicant default
    interface android.hardware.wifi.supplicant@1.1::ISupplicant default
    interface android.hardware.wifi.supplicant@1.2::ISupplicant default
    interface android.hardware.wifi.supplicant@1.3::ISupplicant default
    interface vendor.mediatek.hardware.wifi.supplicant@2.0::ISupplicant default
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

on post-fs-data
    mkdir /data/vendor/wifi 0770 wifi wifi
    mkdir /data/vendor/wifi/hostapd 0770 wifi wifi
    mkdir /data/vendor/wifi/hostapd/sockets 0770 wifi wifi

service hostapd /vendor/bin/hw/hostapd
    interface android.hardware.wifi.hostapd@1.0::IHostapd default
    interface android.hardware.wifi.hostapd@1.1::IHostapd default
    interface android.hardware.wifi.hostapd@1.2::IHostapd default
    class main
    capabilities NET_ADMIN NET_RAW
    user wifi
    group wifi net_raw net_admin
    disabled
    oneshot

#
# Connectivity related services (End)
#

