  
allow mtk_hal_camera persist_data_file:file r_file_perms;
allow mtk_hal_camera persist_data_file:dir r_dir_perms;
allow mtk_hal_camera mnt_vendor_file:file r_file_perms;
allow mtk_hal_camera mnt_vendor_file:dir r_dir_perms;

